#mapa_inmo{
    margin-top: 7%;

    iframe{
        width: 100%;
    }
}
#info_inmo{
    margin-top: 3%;
    .btn{
        background-color: $color_azul_oscuro;
        color: white;
        
    }

    .color_poltica{
        color:$color_azul_oscuro;
    }
    .color_poltica:hover{
        color: $color_azul;;
    }
    li{
        margin-bottom: 2%;
        strong{
            font-size: 13px;
            @include media-breakpoint-up(md){
            font-size: 13px;
            }
            @include media-breakpoint-up(lg){
                font-size: 17px;
            }
        }
    }
    .color_face{
        color: $color_azul;
        margin-left: 9px;
    }
    .color_insta{
        color: $color_azul;
        margin-left: 9px;
    }
    .color_youtu{
        color: $color_azul;
       margin-left: 9px;
    }
    .color_wapp {
        color: gray;
    }
    .color_ubi{
        color: gray;
    }
    .color_tel{
           color: gray;
    }
    .color_cel{
        color: gray;
    }
    #info_list{
    list-style: none;
    padding-left: 0%;
    }
    .redes{
            list-style: none;
            padding-left: 101px;
            @include media-breakpoint-up(md){
                padding-left: 71px;
            }
            @include media-breakpoint-up(lg){
                padding-left: 139px;
            }
            
            i{
                border-radius: 0;
                padding: 10px;
                width: 40px;
                height: 40px;
                font-size: 140%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: $color_azul_oscuro;
    }
}