#inf_detalle{
    margin-top: 46%;
    @include media-breakpoint-up(md){
    margin-top: 14%;
    }
    @include media-breakpoint-up(lg){
        margin-top: 7%;
        }
    .compartir{
    position: absolute;
    margin-left: 47%;
    margin-top: 42%;
    @include media-breakpoint-up(md){
        margin-left: 79%;
        margin-top: 12%;
    }
    @include media-breakpoint-up(lg){
        margin-left: 53%;
       margin-top: 4%;
    }
    } 
    

    .conteedor_general{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .cont_list{
            display: flex;
            align-items: center;
            padding: 0%;

            .cont_titulo{
                margin-right: 0px;
                padding-right: 0px;
                list-style: none;
                position: absolute;
                @include media-breakpoint-up(md){
                     position: initial;
                    }

                .cont_titulo::after{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    content: "";
                    transform: translateY(-50%);
                    height: 80px;
                    width: 1px;
                    background-color: #000000;
                }
                

                .codigo_style{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    margin-top: 4%;
                    

                    .color_codigo{
                        display: inline-block;
                        padding: 2px 18px;
                        margin-right: 15px;
                        border-radius: 4px;
                        background-color: $color_azul;
                        font-size: 10px;
                        color: #ffffff;
                        font-weight: 500;
                        text-transform: uppercase;

                        .Titulo_principal{
                            margin-bottom: 8px;
                            font-size: 30px;

                            .style_ubicacion{
                                color: #888888;
                                .color_icono{
                                    margin-right: 5px;
                                    font-size: 16px;
                                }
                            }
                        }
                        
                    }
                }

               
            }
            .con_detalle_inform {
                margin-right: 0px;
                list-style: none;
                position: absolute;
                margin-top: 29%;
                margin-left: 2%;
                @include media-breakpoint-up(md){
                    margin-top: 82px;
                    margin-left: -5%;
                   }
                   @include media-breakpoint-up(lg){
                    margin-top: -6px;
                    margin-left: 25%;
                   }


                .lista_style{
                    margin-bottom: 0;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }

                .info_inmueble{
                    display: flex;
                    list-style: none;
                    margin-left: 0%;
                    
                    @include media-breakpoint-up(md){
                        display: flex;
                        list-style: none;
                        padding: 41px;
                        
                    }
                    
                    li{
                   margin-right: 0.5em;
                    }
                  }
                
            }
            .cont_precio{
                padding-right: 0;
                margin-right: 0;
                list-style: none;
                position: absolute;
                margin-top: 23%;
                @include media-breakpoint-up(md){
                    margin-top: 14%;
                   left: 41%
                    
                }
                @include media-breakpoint-up(lg){
                    margin-top: 1%;
                    left: 54%
                    
                }


                .precio_style{
                    margin-bottom: 0px;
                    color: $color_azul_oscuro;
                    font-family: 'Roboto', Helvetica, Arial, sans-serif;
                    font-size: 25px;
                    font-weight: 700;
                }
               
            }
           
        }
        .cont_compart{
            margin: 0;
            padding: 0;
            list-style-type: none;
            list-style: none;
            margin-top: 53%;
            margin-right: 2%;
            position: absolute;
            @include media-breakpoint-up(md){
                left: 49%;
                margin-top: 2%;
                
            }
            @include media-breakpoint-up(lg){
                left: 77%;
                margin-top: 2%;
                
            }


            .tamaño_redes{
                margin-right: 38px;
                display: inline-block;
                text-align: center;

                .cont_icon{

                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-decoration: none;

                    .icono_style{
                        font-size: 15px;
                        width: 35px;
                        height: 35px;
                        margin-bottom: 9px;
                        border-radius: 50%;
                        background-color: #0087C9;
                        color: #ffffff;
                        line-height: 36px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.Lineas_separadora{
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 11px;
    margin-bottom: 30px;
}

.cont_img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.Inmuebles_similares{
    margin-left: -1%;
    margin-top: 35%;
  
}
.titulo_asesor{
    margin-top: 8%;
}
.cont_caract{
    margin-top: 2%;
    margin-bottom: 12px;
    @include media-breakpoint-up(md){
        margin-left: 0%;
        margin-bottom: 0px;
        
        
    }

}
.property{
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.property .property-image{
    height: 205px;
    overflow: hidden;
    width: 100%;
}
.alto_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    width: 100%;
}
.card{
    border: 0px solid rgba(0, 0, 0, 0.125);
}
.margen_card{
    margin-top: -4%;
    text-align: left;
    padding: 0%;
}
.cont_mapa{
    margin-top: 21%;
    @include media-breakpoint-up(md){
        margin-top: -2%;
        
        
    }
    @include media-breakpoint-up(lg){
        margin-top: 0%;
        
        
    }
}
.margin_internas{
    margin-left: 7%;
}

  .cont_externas{
    margin-bottom: 12px;
    margin-top: -5%;
    padding: 7%;
    @include media-breakpoint-up(md){
        margin-top: -7%;
        left: 51%;
    }
    @include media-breakpoint-up(lg){
    margin-top: 44%;
    left: -2%;
    position: absolute;
    }
  }
 .separador_siminlares{
    margin-top: 21px;
 }
 #carousel_slider{
     .container{
        margin-top: 60%;
        @include media-breakpoint-up(md){
            margin-top: 8%;
            
        }
        @include media-breakpoint-up(lg){
            margin-top: 3%; 
            
        }
     }
 }
 .cont_caracter{
    @include media-breakpoint-up(md){
        
        margin-left: 51%;
        margin-top: 2%;
    }
    @include media-breakpoint-up(lg){
        position: initial;
        margin-left: 0%;
        margin-top: 0%;
    }
 }
 .cont_internas{
    @include media-breakpoint-up(md){
        margin-left: 51%;
    }
    @include media-breakpoint-up(lg){
    position: inherit;
    margin-left: 0px;
    margin-left: 0%;
    }
 }
 .container_alrededor{
    margin-left: 7%;
    @include media-breakpoint-up(md){
        margin-top: -1%;
        margin-left: 54%
    }
    @include media-breakpoint-up(lg){
        margin-left:51%;
        margin-top: 6%;
    }
 }


  
