@font-face{
    font-family: "CaviarDreams";
    src: url("../fonts/CaviarDreams.ttf");
}
@font-face{
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    
  }

  h1,h2,h3,h4,h5{
    font-family: "CaviarDreams";
  }

  .cont_redes{
    margin-left: 14%;
    @include media-breakpoint-up(md){
      margin-left: 37%;
    }
    @include media-breakpoint-up(lg){
      margin-left: 41%;
    }
  }

  p , a  {
    font-family: "Roboto";
  } 
 .imagen_destacadas{
  object-fit: cover;
  width: 100%;
  height: 100%;
 }
 .cont_detalle_not{
   margin-top: 32%;
   @include media-breakpoint-up(md){
    margin-top: 16%;
   }
   @include media-breakpoint-up(lg){
    margin-top: 9%;
   }
  
 
 }
 .boton_index_not{
   background-color: $color_azul_oscuro;
   color: white;
  
 }
 .boton_index_not:hover{
   color:white;
 }
  #destacadas{
    .info_inmueble{
        display: flex;
        list-style: none;
        margin-left: -2%;
        margin-right: -10%;
      }
      .container_li{
        margin-right: 1.5em;
    
      }
      span{
        font-size: 18px;
        
      }
      .codigo_inmueble{
        position: absolute;
        top: 1px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        letter-spacing: 1.5px;
        background-color: #0b5998;
        padding: 10px 30px 11px 30px;
        margin-left: 0%;
      }
      .precio_inmueble{
        position: absolute;
    top: 226px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #0b5998;
    padding: 6px 46px 7px 45px;
    margin-left: 58%;
      }
  }
  .precio_inmueble_destacadas{
    position: absolute;
    top: 223px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5px;
    background-color: #0b5998;
    padding: 6px 46px 7px 45px;
    margin-left: 49%;
  }
 .estadisticas{
        background: url(../images/banner_estadisticas_home.png) no-repeat;
        background-position: center;
        position: relative;
        color: #fff;
        background-size: cover;
        @include media-breakpoint-up(md){
          background: url(../images/banner_estadisticas_home.png) no-repeat;
          background-position: center;
          position: relative;
          color: #fff;
        }

        .banner_estadi:before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }
        .div_invisible{
          visibility: hidden !important;
         position: absolute;
        }
    
 }
#aseguradoras{
    .menu{
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        margin-top: 13%;
        font-weight: bold;
        
    }
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 19px;
    @include media-breakpoint-up(md){
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    }
    }
    .menu-item{
    font-size: 0.9rem;
    border-bottom: 1px solid #826a6173;
    margin-bottom: 5%;
    .option_foot{
    font-size: 0.786em;
    line-height: normal;
    text-transform: uppercase;
    color:black;
    text-decoration:none;
    
      }
      .option_foot:hover{
          color:$color_azul_oscuro;
      }
    }
}

#inmobiliaria_historia{
    margin-top: 2%;
    .cont_img{
        text-align: center;
    }
    img{
      object-fit: contain;
      width: 80%;
      height: 50%;
    @include media-breakpoint-up(md){
      object-fit: contain;
      width: 85%;
      height: 50%;
    }
    }
    p{
        text-align: justify;
    }
    .footer_redes {
        margin: 0;
        margin-left: 17%;
        list-style-type: none;
        display: flex;
        text-align: center;
         a{
            font-size: 22px;
            transition: 0.3s color ease-out;
         }
         .fa{
            display: inline-block;
            font: normal normal normal 14px;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
         }

        li{
          display: inline-block;
          padding: 0 11px;
        }
        .color_face{
          color: $color_azul;
          :hover{
            color: $color_azul_oscuro;
          }
        }
        .color_insta{
          color: $color_azul;
          :hover{
            color: $color_azul_oscuro;
          }
        }
        .color_youtu{
          color: $color_azul;
          :hover{
            color: $color_azul_oscuro;
          }
          
    }
  }
   
}
#footer_copy{
  .row{
    justify-content: space-between;
    margin-left: 0px;
    margin-bottom: 5%;

    @include media-breakpoint-up(md){
      margin-left: -15px;
      margin-bottom: 0%;
    }
    
  }
  a{
    text-decoration: none;
  }
}
.politicas{
  margin-top: -16px;
  @include media-breakpoint-up(md){
    margin-left: 0px;
    margin-top: 0px;
  }
}
.dimencion{
  margin-top: 25%;
  @include media-breakpoint-up(md){
    margin-top: 0%;
  }
}
#buscador{
  .expacio{
    margin-top: 0rem !important;
    @include media-breakpoint-up(md){
      margin-top: 1rem !important;
    }
  }
  .container{
    padding: 3%;
    @include media-breakpoint-up(md){
      padding: 0%;
    }
  }
}

.subir {
  display: none;
  padding: 15px;
  background-color: $color_azul_oscuro;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: fixed;
  bottom: 18px;
  right: 20px;
  -webkit-box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
  -moz-box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
  box-shadow: -2px 2px 5px 3px rgba(189,189,189,1);
  z-index: 21;
  @include media-breakpoint-up(md){
    bottom: 50px;
  }
}
.color_gris{
  background-color: #808184;
    color: white;
}
.color_azul{
  background-color: $color_azul_oscuro;
  color: white;
}
#conte_posiciion{
  
  @include media-breakpoint-up(md){
    position: absolute;
  }
  @include media-breakpoint-up(lg){
    position: static;
  }
} 
#mision_vision_obj{
  img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    @include media-breakpoint-up(md){
    width: 100%;
    margin-left: 0%;
    width: 100%;
    }

  }
  .texto{
      text-align: justify;
  }
  .margen_text{
    margin-top: 5%;
  }
  .margen_text_obj{
    margin-top: 11%;
  }
  ul{
    text-align: justify;
  }
  .img_valores{
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-left: 0%;
  }
  .cont_valores{
    margin-top: 6%;
  }
}

   


  