#imagen_cont{
    margin-top: 27%;
    @include media-breakpoint-up(md){
        margin-top: 16%;
    }
    @include media-breakpoint-up(lg){
        margin-top: 9%;
    }
    p{
        text-align: justify;
    }
    img{
    object-fit: contain;
    width: 100%;
    }
    
    h4{
        color: $color_azul_oscuro;
    }
    .cont_img_estadis{
        @include media-breakpoint-up(md){
            margin-top: 18%;
        }
        @include media-breakpoint-up(lg){
            margin-top: 0%;
        }
    }
}
.cont_hipoteca{
    @include media-breakpoint-up(md){
    position: absolute;
    margin-top: -66%;
    margin-left: 13%;
    }
    @include media-breakpoint-up(lg){
    margin-top: 0%;
    margin-left: 88px;
        
    }
}
.cont_juridica{
   @include media-breakpoint-up(md){
    position: absolute;
    margin-left: 122%;
    margin-top: -67%;
   }
    @include media-breakpoint-up(lg){
        margin-top: 0%;
        margin-left: 22%;
    }
}
#servicios{
    i{
    color: $color_azul;
    font-size: 44px;
    margin-top: 18px;
    margin-bottom: 13%;
    }
    a{
        font-size: 17px;
        transition: 0.3s color ease-out;
        color: $color_azul_oscuro;
        text-decoration: none;
    }
}
.div_invisible{
    visibility: hidden !important;
   position: absolute;
  }
  .margen_top{
      margin-top: 5%;
  }

